 
<ion-header>

<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-title>Error 404</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-text-center">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Error 404</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assests/img/error404" alt="error404">
      <p>La página que estás buscando no se encuentra.</p>
      <ion-button routerLink="/" color="primary">Volver al Inicio</ion-button>
    </ion-card-content>
  </ion-card>

<ion-content>
  <img src="../../../assets/error404.webp" alt="error404">

</ion-content>
