<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: url('assets/img/fondo-login.png') no-repeat center center / cover;">

  <!-- Mostrar nombre de usuario -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido, {{ nombre_usuario }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- Contenido del menú -->
  
  <ion-tabs>

    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="viaje" [routerLink]="['/viaje']">
        <ion-icon name="calendar-number-sharp"></ion-icon>
        <ion-label>Reservas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="usuario" [routerLink]="['/usuario']">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
      

      <ion-tab-button tab="administrador" [routerLink]="['/administrador']">
        <ion-icon name="build"></ion-icon>
        <ion-label>Administrar</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="Salir" (click)="confirmarSalida()">
        <ion-icon name="power"></ion-icon>
        <ion-label>Salir</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>

</ion-content>
