<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card style="margin-top: 215px;">
    <ion-card-header> Login </ion-card-header>

    <ion-card-content>
      <ion-input
        [(ngModel)]="email"
        type="email"
        placeholder="Correo Electrónico"
        clearInput
        fill="outline"
      ></ion-input>

      <br>

      <ion-input
        [(ngModel)]="password"
        placeholder="Contraseña"
        type="password"
        clearInput
        fill="outline"
      ></ion-input>

      <br>

      <ion-button (click)="login()" size="block" color="primary">
        INGRESAR
      </ion-button>
    </ion-card-content>
  </ion-card>

  <p class="ion-text-center"> No tienes cuenta, regístrate <a routerLink="/registro">AQUÍ</a></p>
  <br>
  <p class="ion-text-center"><a routerLink="/recuperacion">¿Olvidaste tu Contraseña?</a></p>

</ion-content>
