<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header> Login</ion-card-header>
    <ion-card-content>
    <ion-input
    type="email"
    label="Email"
    labelPlacement="floating"
    errorText="Invalid email"
    [clearInput]="true"
    fill="outline"
    ngModel
    email
    >    
    </ion-input>
    
    <br>
      <ion-input
        label="Contraseña"
        labelPlacement="floating"
        [clearInput]="true"
        type="password"
        fill="outline">
    </ion-input>
    <br>
    <ion-button (click)="login()" size="block" color=>INGRESAR</ion-button>
  
  </ion-card-content>
  </ion-card>
  <p> No tienes cuenta, regístrate <a routerLink="/registro">AQUÍ</a></p>
  
</ion-content>
