<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de usuario </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
   <form [formGroup]="Usuario" (ngSubmit)="registro()">
    
    <ion-input formControlName="rut" type="text" labelPlacement="stacked" label="RUT"></ion-input>
    <br>
    <ion-input formControlName="nombre" type="text" labelPlacement="stacked" label="Nombre"></ion-input>
    <br>
    <ion-input formControlName="apellido" type="text" labelPlacement="stacked" label="Apellido"></ion-input>
    <br>
    <ion-input formControlName="fecha_nacimiento" type="date" labelPlacement="stacked" label="Fecha nacimiento"></ion-input>
    <br>
    <ion-input formControlName="Correo electronico" type="email" label="Email" labelPlacement="stacked"></ion-input>
    <ion-select formControlName="genero" label="Género" labelPlacement="floating" cancelText="Cancelar!">
      <ion-select-option>Masculino</ion-select-option>
      <ion-select-option>Femenino</ion-select-option>
      <ion-select-option>Otro</ion-select-option>
    </ion-select>
    <br>
    <ion-button id="present-alert" [disabled]="Usuario.invalid" type="submit" size="block" color="secondary">REGISTRAR</ion-button>
    <ion-alert trigger="present-alert" header="alert!" [buttons]="alertButtons" (didDismiss)="setResult($event)"></ion-alert>
   </form>
  
  </ion-card>

</ion-content>
